*{
    /*Soft Reset*/
    margin: 0px;
    padding: 0px;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body, .header, .top, .bottom, .sideBar, .content, 
 .search, .userMenu, .userGreeting, .greetingContainer,
 .nameContainer, .createButtons, .sideBar li, .sideBar > *, .projectContainer,
 .project, .projectsSection, .titleLayer, .projectButtons{
    /*Selector to set the display to GRID exclusively*/
    display: grid;
}

body{
    /*Overall Page Layout*/
    grid-template: 200px 1fr / 250px 1fr;
    min-width: 100vw;
    min-height: 100vh;
}
li{
    list-style: none;
}

/*ALL HEADER SELECTORS*/
.header{
    /*Display Header Content over two rows and specify where the Header is displayed on the page.*/
    grid-template-rows: repeat(2, 1fr);
    grid-area: 1 / 2 / 2 / 3;
    box-shadow: -1px 1px 1px black;
    z-index: 10;
}

.bottom, .top{
    /*Define Header Portion Column sizing and add a slight gap*/
    gap: 15px;
    grid-template-columns: 3fr 1fr;
}

.bottom *{
    /*Anchor Items to Top of Grid Section*/
    align-self: start;
}

.top > :nth-child(1), .bottom > :nth-child(1){
    /*Control Column Growth of the Header's Left side content.*/
    grid-template-columns: 1px max-content minmax(250px, 500px);
    align-items: center;
    gap: 30px;
}

.top > :nth-child(2), .bottom > :nth-child(2){
    /*Control positioning of the Header's Right side content.*/
    grid-template-columns: repeat(3, max-content) 100px;
    gap: 25px;
    align-items: center;
}

.search > img, .userGreeting > img{
    /*Anchor Header Images*/
    grid-column: 2 / 3;
    justify-self: start;
}

.searchBar{
    /*Control Search Bar position and appearance*/
    border-radius: 24px;
    height: 25px;
    text-align: center;
    border: none;
    box-shadow: 1px 2px 2px steelblue;
    grid-column: 3 / 4;
    background-color: rgba(70, 131, 180, 0.514);
    color: black;
}

.userPicture{
    /*Control Image Display*/
    height: 75px;
    width: 75px;
    border-radius: 100%;
    background-color: pink;
    box-shadow: -1px 3px 2px pink;
}

.userGreeting > :nth-child(1){
    /*Anchor User Picture to the right*/
    justify-self: end;
}

.nameContainer{
    /*Align UserName on Page*/
    grid-template-columns: repeat(2, max-content);
    gap: 5px;
}

.notification{
    height: 50px;
    width: 50px;
}

.createButtons button{
    /*Button Theme*/
    height: 35px;
    width: 100px;
    font-size: 18px;
    color: white;
    background-color: steelblue;
    border: none;
    border-radius: 22px;
    box-shadow: -1px 1px 1px steelblue;
}

/*Add Animations to all interactable content*/
.createButtons button:hover, .notification:hover, .searchIcon:hover, .sideBar li:hover, .projectButtons img:hover {
    scale:1.2;
}
.createButtons button:active, .notification:active, .searchIcon:active, .sideBar li:active, .projectButtons img:active {
    scale: 0.8;
}





/*ALL SIDEBAR SELECTORS*/
.sideBar{
    /*Set SideBar Theme and Align Grid Items on Page*/
    padding-left: 15px;
    background-color: steelblue;
    grid-area: 1 / 1 / end / 2;
    grid-template-rows: 125px 300px 300px 1fr;
    color: white;
    box-shadow: 2px 2px 5px black;
    
}

.sideBar img{
    /*Change all SideBar Images to WHITE through a filter conversion*/
    filter: invert(98%) sepia(2%) saturate(0%) hue-rotate(185deg) brightness(111%) contrast(100%);
}
.title > img{
    /*Make ONLY Title Image Larger*/
    scale: 1.5;
}

.navMain, .navBottom, .title{
    /*Assign Grid Row Size to All SideBar Sub-Grids*/
    grid-auto-rows: 40px;
}

.sideBar li, .title{
    /*Position and Align All Sidebar Grid Items*/
    grid-template-columns: max-content 1fr;
    justify-self: left;
}

.sideBar li{
    /*Slight Gap ONLY for Sidebar List Elements*/
    gap: 5px;
}

.title{
    /*Add Spacing Specific to Title*/
    gap: 25px;
    padding-top: 25px;
    font-size: 0.75em;
}
.title *{
    /*Center Align Title Grid Items*/
    align-self: center;
}




/*ALL CONTENT BOX SELECTORS*/
.content{
    background-color: rgb(187, 186, 186);
    grid-area: 2 / 2 / end / end;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    box-shadow: -1px 2px 5px black;
}
.content h5{
    font-size: 22px;
}
.projectsSection{
    grid-template-rows: 50px 1fr;
    grid-area: 1 / 1 / end / 2;
    align-items: start;
    padding-left: 50px;
    padding-top: 50px;
    
}
.projectContainer{
    grid-template-columns: repeat(auto-fit, 350px);
    gap: 50px
}

.project{
    padding: 10px;
    padding-left: 7.5%;
    border-radius: 22px;
    height: 250px;
    background: linear-gradient(90deg, steelblue 5%, white 5%);
    box-shadow: 2px 3px 4px steelblue;
    grid-template-rows: 2fr max-content;
}
.titleLayer{
    justify-items: left;

}
.projectButtons{
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-self: end;
    padding: 20px 20px 20px 0px;
}